.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
    font-size: 14px !important;
    background: #002219;
    color: #3cb84d;
    position: relative;
    text-align: center;
    padding: 12px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.navbar{
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navElement{
  margin-left: 20px;
  cursor: pointer; 
}
.InformationContainer{
  max-width: 80%;
  margin:auto;
  justify-content: center;
}

.personInfo{
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  justify-content: space-between;
  margin: auto;

}
.personItem{
  width: 25%
}
select{
  cursor: pointer; 
}